body {
    background: linear-gradient(blue, black);
    text-align: center;
    margin: 0;
}

.img-pic {
    width: 200px;
    height: 50%;
    background-image: url("me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px auto;
}

.img-pic:hover {
    background-image: url("bday.gif");
    width: 400px;
}